
body {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero-section {
    background-image: url('../img/entrada-ipf-3.heic');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 500px;
    font-family: "Playfair Display", serif;
}
.btn {
    font-family: "Open Sans", 'Helvetica Neue', sans-serif;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.content {
    position: relative;
    z-index: 2;
}
.content h1 {
    font-size: 4rem;
    font-weight: bold;
}
.content p {
    font-size: 1.3rem;
}
.navbar {
    position: absolute;
    width: 100%;
    z-index: 20;
}
.navbar-toggler {
    position: relative;
    z-index: 10;
}
.carousel {
    object-fit: cover;
    margin: auto;
}
footer {
    background-color:#1b3f4b;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.presentacion {
    text-align:start;
    margin: 20px;
    font-size: 1.5rem;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: #fdefd5;
    border-radius: 10px;
    border-left: 8px solid #1b3f4b;
}
h3 {
    padding: 5px;
    margin-top: 5px;

}
.valores {
    position: relative;
    z-index: 20;
    padding: 50px 20px; 
    border-radius: 15px;
}
i {
    font-size: 50px;
    color: #1b3f4b;
    margin-bottom: 20px;
}
.contenedorcitos {
    background-color: #fdefd5;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}
.btn-primary {
    background-color: #1b3f4b;
    border-color: #1b3f4b;
}
.btn-primary:hover {
    background-color: #3d924f;
    border-color: #3d924f;
}
.subtitulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "open sans", 'helvetica neue', sans-serif;
}
img {
    margin-top: 10px;
    border-radius: 10px;
}
.footer p {
    color: #fdefd5;
}
.footer a {
    color: #fdefd5;
    text-decoration: none;
}
.footer a {
    color: #fdefd5;
    text-decoration: none;
}
.footer a:hover {
    color: #009b01;
}
.footer hr {
    border-color: rgba(255, 255, 255, 0.3);
    margin: 20px 0;
}
.footer h5 {
    color: #fdefd5;
    margin-bottom: 15px;
}
.redes {
    margin-top: 20px;
    color: #fdefd5;
    padding: 12px;
}
.redes a {
    margin: 0 10px;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s;
}.redes a:hover {
    color: #009b01;
}